---
- name: Converge
  hosts: all
  pre_tasks:
  - name: install net-tools an iproute as netstat and ip are needed by the tests
    package:
      name: "{{ item }}"
      state: present
    with_items:
      - net-tools
      - iproute2
  vars:
    letsencrypt_is_dev: true
  roles:
    - role: ansible-role-nginx
